$base-blue: #2d303a;
$base-red: #f06c64;
$base-white: #F2F2F2;
$blue: #648bf0;
$dark-gray: #666d89;
$dark-blue:  #767E9E;
$white: #FFFFFF;
$light-gray: #DEDEDE;
$gray: #BBBBBB;
$very-dark-gray: #323746;

$content-width: 940px;
$desktop-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px;

