@mixin font($size, $height, $weight, $style) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;       
}

@mixin flex ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    >* {
        flex-basis: $width;
    }
}

@mixin media-desktop {
    @media (max-width: calc(#{$desktop-width} - 0.5px)) { @content; }
}
  
@mixin media-tablet {
    @media (max-width: calc(#{$tablet-width} - 0.5px)) { @content; }
}

@mixin media-mobile {
    @media (max-width: calc(#{$mobile-width} - 1px)) { @content; }
}


