html {
  font-size: 10px;
}

body {
  @extend %font;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  margin: 0px;
  text-transform: uppercase;
  @include font($size: 2.5rem, $height: 3rem, $weight: bold, $style: normal);
  color: $white;

  @include media-tablet {
    @include font(
      $size: 1.96875rem,
      $height: 2.4rem,
      $weight: bold,
      $style: normal
    );
    margin: 0 auto;
  }  
}

h2 {
  @include font($size: 3rem, $height: 3.6rem, $weight: 900, $style: normal);
  color: $dark-gray;
  margin: 0px 0px 18px;

  @include media-desktop {
    margin: 0px 0px 18px;
  }
  
  @include media-tablet {
    margin: 0px 0px 18px;
  }
}

h4 {
  @include font($size: 1.8rem, $height: 1.8rem, $weight: 900, $style: normal);
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: $dark-gray;
  margin: 0px 0px 9px;
}

.container {
  max-width: $content-width;
  margin: auto;
}
